<div id="ChatBoxTabSettings">
    <div class="titlebar" data-background="basic_interface/titlebar_mid.bmp">
        <div class="left">
            <button class="base" data-background="basic_interface/sys_base_off.bmp"
                data-hover="basic_interface/sys_base_on.bmp"></button>
            <span class="title">Tab settings</span>
        </div>
        <div class="right">
            <button class="base close" data-background="basic_interface/sys_close_off.bmp"
                data-hover="basic_interface/sys_close_on.bmp"></button>
        </div>
    </div>

    <div class="panel" data-background="basic_interface/chatwin1_mid.bmp">
        <div class="content">
            <div class="lists" id="settings_list">
                <!-- <div class="tab">
                    <div class="blinking-light"></div>
                    <h3 class="tab-name">Tab 1</h3>
                    <div  class="remove">X</div>
                    <div class="move">↑</div>
                </div> -->
            </div>
        </div>
    </div>

</div>